<a href="https://colab.research.google.com/github/Venkat-dev-cloud/Employee-Attrition/blob/main/Attrition_Prediction_using_Gradient_Boost_follow_along.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Statement
The issue of keeping one's employees happy and satisfied is a perennial and age-old challenge. If an employee you have invested so much time and money leaves for "greener pastures", then this would mean that you would have to spend even more time and money to hire somebody else.

This project is based on a hypothetical dataset downloaded from IBM HR Analytics Employee Attrition & Performance. It has 1,470 data points (rows) and 35 features (columns) describing each employeeâ€™s background and characteristics; and labelled (supervised learning) with whether they are still in the company or whether they have gone to work somewhere else.

# Expected Outcome
To understand and determine how these factors relate to workforce attrition.

# Kaggle link and dataset
https://www.kaggle.com/patelprashant/employee-attrition

## Importing required libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Import train test split from sklearn
from sklearn.model_selection import train_test_split

# Import Standard Scaler
from sklearn.preprocessing import StandardScaler

## Ignore Warnings

In [6]:
import warnings
warnings.filterwarnings('ignore')

## See all rows and columns

In [10]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Importing Data

In [11]:
df = pd.read_csv("/content/drive/MyDrive/Data Science/Python/Machine Learning 2/Boosting/Gradient Boosting/Gradient Boost/Attrition Prediction/WA_Fn-UseC_-HR-Employee-Attrition.csv")

# Understanding and Exploring the data

In [13]:
# Checking the shape
df.shape

(1470, 35)

In [16]:
# Checking the memory consumed by the data
print(f"The dataset uses {round(df.memory_usage().sum()/1024 ** 2, 2)} MB of space")

The dataset uses 0.39 MB of space

In [17]:
# Display memory used by each column in the dataset
df.memory_usage()

Index                         128
Age                         11760
Attrition                   11760
BusinessTravel              11760
DailyRate                   11760
Department                  11760
DistanceFromHome            11760
Education                   11760
EducationField              11760
EmployeeCount               11760
EmployeeNumber              11760
EnvironmentSatisfaction     11760
Gender                      11760
HourlyRate                  11760
JobInvolvement              11760
JobLevel                    11760
JobRole                     11760
JobSatisfaction             11760
MaritalStatus               11760
MonthlyIncome               11760
MonthlyRate                 11760
NumCompaniesWorked          11760
Over18                      11760
OverTime                    11760
PercentSalaryHike           11760
PerformanceRating           11760
RelationshipSatisfaction    11760
StandardHours               11760
StockOptionLevel            11760
TotalWorkingYears           11760
TrainingTimesLastYear       11760
WorkLifeBalance             11760
YearsAtCompany              11760
YearsInCurrentRole          11760
YearsSinceLastPromotion     11760
YearsWithCurrManager        11760
dtype: int64

In [4]:
df.head()

   Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0   41       Yes  ...                       0                     5
1   49        No  ...                       1                     7
2   37       Yes  ...                       0                     0
3   33        No  ...                       3                     0
4   27        No  ...                       2                     2

[5 rows x 35 columns]